@using ChessGame
@inherits CellComponentModel
@inject HttpClient Http

@code {


}

<td class="@(IsMarked ? "green" : (Row % 2 == Column % 2 ? "white" : "black"))" onclick="@Click">
    @if (Figure != null)
    {
        string str = $"/css/icons/Black{Figure}.png";
        <img src="@str"  alt="" />
    }
</td>
