@using ChessGame
@inherits CellComponentModel
@inject HttpClient Http

@code {

}

<td class="@(IsPointer ? "pointer" : IsMarked ? (FigureName is null ? "free" : "target") : (Row % 2 == Column % 2 ? "white" : "black"))" onclick="@Click">
    @if (FigureName != null)
    {
        string str = $"/css/icons/{FigureName}.png";
        <img src="@str"  alt="" />
    }
</td>