@using ChessGame
@inject HttpClient Http
@inherits GameComponentModel

<h3>GameComponent</h3>


@code {
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Board = await Http.GetFromJsonAsync<BoardViewModel>("chessgame/board");
        }
        catch (Exception ex)
        {

        }
    }

    private void Click(int row, int column)
    {

        StateHasChanged();
    }

}

<table class="ChessBoard" id="board">

    @for (int i = 0; i < 8; i++)
    {
        <tr>
            @for (int j = 0; j < 8; j++)
            {
                <CellComponent Row="@i" Column="@j" Figure=@Board?[i, j]></CellComponent>
            }
        </tr>
    }
</table>
