table {
    width: 75vh;
    height: 75vh;
    align-content: center;
    margin: 0;
    padding: 0;
    align-content: center;
    border: solid 4px;
    border-color: saddlebrown;
}

@media (max-width: 640.98px) {
    table {
        width: 75vw;
        height: 75vw;
    }
}
