<h3>GoGameComponent</h3>
@using AuthWebAPI
@using ChessGameWebApp.Client.Services
@inherits GoGameComponentModel


<input class="btn btn-primary @(!User.Status ? "" : "red")" type="button" value="@(!User.Status ? "Start" : "Stop")" @onclick="StartGame"/>


@code {


}
