<h3>GoGameComponent</h3>
@inject SiteUserInfo userInfo
@using AuthWebAPI
@using ChessGameWebApp.Client.Services
@inject IAuthWebApi webApi
@inject IGameHubService gameHub


@if (userInfo.Id > 0)
{
    <input class="btn btn-primary" type="button" value="GO" @onclick="goGame"/>
    <p>Players: @count</p>
}

@code {

    private int count = 0;
    private async void goGame()
    {
        await webApi.AddPlayer();
        count = await webApi.PlayerCount();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            count = await webApi.PlayerCount();
        }
        catch{}
    }

}
