@inject SiteUserInfo User

@code
{

}
<table>
    <tr>
        <td>
            <div>@User.Username</div>
            <div><GoGameComponent RandomRival="false"></GoGameComponent></div>
        </td>
        <td>
            <div><b>VS</b></div>
       </td>
       
       <td>
           <div>@User.RivalName</div>
           <div><GoGameComponent RandomRival="false" IsRival="true"></GoGameComponent></div>
       </td>       
   </tr>
</table>