@using ChessWebAPI
@inherits RegistrationComponentModel
@inject ServerWebApi webApi
<h3>Registration</h3>

@code {
    async void FormSubmitted(EditContext editContext)
    {
        await webApi.Registration(new AccountRequestModel()
        {
            Username = Username,
            Login = Login,
            Password = Password,
            Email = Email
        });
    }
}

<EditForm Model="@this" OnValidSubmit="@FormSubmitted">
    <DataAnnotationsValidator />
    <table>
        <tr>
            <td><label for="login">Login</label></td>
            <td><input type="text" name="login" @bind-value="Login"/></td>
            <ValidationMessage For=@(() => Login) />

            </tr>
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" @bind-value="Username"/></td>
                <ValidationMessage For=@(() => Username) />

            </tr>
            <tr>
                <td><label for="email">E-mail</label></td>
                <td><input type="text" name="email" @bind-value="Email"/></td>
                <ValidationMessage For=@(() => Email) />

            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" @bind-value="Password"/></td>
                <ValidationMessage For=@(() => Password) />
            </tr>
            <tr>
                <td><label for="confirm">Confirm</label></td>
                <td><input type="password" name="confirm" @bind-value="Confirm"/></td>
                <ValidationMessage For=@(() => Confirm) />
            </tr>
            <tr>
                <td>
                    <NavLink class="btn btn-secondary" href="authorization/auth">Login</NavLink>
                    <input class="btn btn-primary" type="submit" value="Register" />
                </td>
            </tr>
      </table>
</EditForm>
