@using Models
@inherits LayoutComponentBase
@inject SiteUserInfo User

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (User.AccountId > 0)
            {
                <NavLink href="authorization/auth" target="_blank">@User.UserName</NavLink>
            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
